body{
    margin-top: 200px;
}

header{
    text-align: center;
}

header img{
    width: 200px;
    height: 100px;
}

.selectMode{
    text-align: center;
}

.selectMode button{
    border: none;
    background: none;
    border-bottom: 1px solid;
}

.findID{
    text-align: center;
}

.findPW{
    text-align: center;
    display: none;
}

button{
	cursor: pointer;
}