
body {
      
    font: 14px ¸¼Àº °íµñ;
    width: 1350px;
    margin-left: 200px;
    
}
/* .container {

    width: 1350px;
    margin: 0 auto;
    background-color:#ffffff;
    border:1px solid #E7E7E7

} */
header {
    

 height: 110px; background-color:White; 
 border:10px solid rgb(17, 219, 226);
    padding: 10px; margin:5px;
    

}

header a, header a:visited{
    color: black;
    text-decoration: none;
}




header form {
    float: right;
}
header form ul{
    list-style: none;
    margin:0;
    padding:0;
}

header form ul li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
    margin-left: 10px;
}

header p{
    float: right;
}

.isLogin{
    display:none;
}
.container {
    width: 1350px;
    margin:auto;
    background: white;
    
}
.navi
{
    float:left;
    width: 190px; height: 800px; 
    background-color:white;
    background: rgb(159, 42, 226);
    margin: 5px;

}
.navi ul {
    list-style: none;
    height:100px;
    /* margin: 60px auto; padding: 25px 35px; */

}
.navi ul li {

    padding:45px 20px;
    margin:2px;
    font-size:15px;
    font-family: "HY°ß°íµñ"; 

}
.navi a, .navi a:visited{

    color: #FFF;
    text-decoration: none;
    border:1px;

    
}
section {

    float:left;
    width:1140px;
    padding:5px;
  }
textarea{
	width:1130px;
	height:750px;
	
}  

footer {
    
    
    clear:both;
    width:1330px;
    height:100px;
    border:1px solid rgb(17, 219, 226);
    font-size:18px µ¸¿ò;
    
}

footer a{
    color: black;
    text-decoration: none;
}

table{
	border-collapse: collapse;
}
