
body {
      
    font: 14px ¸¼Àº °íµñ;
    width: 1350px;
    margin-left: 200px;
    
}
/* .container {

    width: 1350px;
    margin: 0 auto;
    background-color:#ffffff;
    border:1px solid #E7E7E7

} */
header {
    

 height: 110px; background-color:White; 
 border:10px solid rgb(17, 219, 226);
    padding: 10px; margin:5px;
    

}

header a, header a:visited{
    color: black;
}




header form {
    float: right;
}
header form ul{
    list-style: none;
    margin:0;
    padding:0;
}

header form ul li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
    margin-left: 10px;
}

header p{
    float: right;
}

.isLogin{
    display:none;
}
.container {
    width: 1350px;
    margin:auto;
    background: white;
    
}
.navi{
	 float:left;
    width: 190px; height: 800px; 
     margin: 20px;
}
.navi ul{
	background-color: #50BCDF;
	list-style-type: none;
	margin:0;
	padding:0;
	width:190px;
}

.navi ul li a{
	line-height:100px;
	font-size:30px;
	text-align:center;
	display:block;
	color:#000;
	padding:8px;
	text-decoration: none;
	font-weight: bold;
	height:100px;
}
.navi ul li a:hover{
	background-color: #50BCFF;
	color: white;
}

header p{
	position:relative;
	bottom:15px;
	right:7px;
    float: right;
}
.sidebar {
    float:right;
    position:absolute; 
    top:30%; 
    width: 200px; height: 400px; 
    background: blue;
    margin:55px;
    
}
section {

    float:left;
    width:800px;
    padding:5px;
  }

.section article{
  
	float:left;
	width:250px;
	height:220px;	
	margin:5px;
	padding:10px;	
    border:none;
}
.at1, .at2, .at3, .at4 {
    display: inline-table;
    height:400px;
    width:380px;
    margin:5px;
    text-align:center; 

}

footer {

    clear:both;
    width:1050px;
    height:100px;
    border:1px solid green;
    font-size:18px µ¸¿ò;
    
}

.loginForm ul a{
	font-size: 20px;
	margin: 10px;
	text-decoration: none;
}
.isLogin{
	font-size:20px;
}

.moveBtn{
	font-size: 20px;
	text-decoration: none;
	background-color: skyblue;
	border:2px solid black;
	padding: 5px;
	margin-bottom: 10px;
}